body {
	margin: 0px;
	font-family: sans-serif;
} 

.canvas_wrapper {
	background-color: #161618;
	border-radius: 0px;
	border: 0px solid #161618;
	box-shadow: 0px 0px 40px 10px #161618;    
    background-image: url("https://raw.githubusercontent.com/Antonio2404/Snake/OOP/img/grass_texture.png");
	
}

.canvas_food {
    background-image: url("https://raw.githubusercontent.com/Antonio2404/Snake/OOP/img/food.png");
}

#game_canvas {
	display: block;
	border-radius: 5px;	
}

#game {
	background: #ffffff;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.game_header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;

	display: flex;
	justify-content: space-between;
}
.game_score {
	padding: 10px 15px;
	min-width: 150px;
	height: 40px;
	background: #121214;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.score_count{
	font-size: 3vmin;
	color: #ffffff;
	font-weight: bold;
}